.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
}
  
thead th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: normal;
}

tbody td {

  border: 1px solid #ddd;
  padding: 8px;
}

.title,
.genre,
.year {
  color: #888;
}
  
.genre-filter {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }
  
.genre-button {
    background-color: #d3d3d3;
    color: #444;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }
   
 /* breakpoint 768px for most devices accross
  using this to apply to all chold elements
  adding widht 100% so can adjust accordingly
 */
  @media screen and (max-width: 768px) {
    .App > * {
      width: 100%;
    }
  }